{% extends "head.html" %}
{% block title %} {{ corpus['name'] }} {% endblock %}
{% block body %}
<div class="bg-light">
    <p><a class="btn btn-secondary" href="./list-corpus.html">< Back</a></p>
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <div class="lh-100">
      <h1 class="mb-0 text-white lh-100">{{ corpus['name'] }}</h1>
      <small>version {{ corpus['latest_version'] }}</small>
    </div>
  </div>
</div>
 <p>{{ corpus['text'] }}</p>
 <br>
 <p>About : {{ corpus['description'] }}</p>
 <p><b>HomePage</b> : <a rel="nofollow" target="_blank" href="{{ corpus['project_url'] }}">{{ corpus['project_url'] }}</a></p>
 <p><b>Authors</b> : {{ corpus['authors'][0] }}</p>
 <hr>
 <h2>Download and Use</h2>
 <h3>Download</h3>
 <code>from pythainlp.corpus import download<br />
download('{{ corpus['name'] }}')</code>
<h3>Use</h3>
It's get path file of corpus.<br />
<code>from pythainlp.corpus import get_file<br />
    get_file('{{ corpus['name'] }}')</code><br />
    if <code>get_file('{{ corpus['name'] }}')</code> is <code>None</code> than you not download <code>{{ corpus['name'] }}</code>.
 <hr>
 <h2>File Details</h2>
 <p>File Name : {{ corpus[corpus['release']['latest_version']]['file_name'] }}</p>
 <p>md5 : {{ corpus[corpus['release']['latest_version']]['md5'] }}</p>
 <p>Link Download : <a rel="nofollow" target="_blank" href="{{ corpus[corpus['release']['latest_version']]['download'] }}">{{ corpus['download'] }}</a></p>
{% endblock %}
